<!-- ko with: home -->
<div class="jumbotron">
    <h1>Git Resources for Windows</h1>
    <p class="lead">
        Git is a powerful distributed version control system that provides
        fast source control management, powerful offline capabilities and
        lightweight branching.
    </p>
    <p><a href="http://git-scm.com/" class="btn btn-primary btn-lg">Learn more about Git &raquo;</a></p>
</div>

<div class="row">
    <div class="sectionheader">
        <h2>Clients</h2>
    </div>

    <div class="col-md-4">
        <h2>Git for Windows</h2>
        <p>
            A port of the Git command-line interface as well as a simple GUI
            and optional Windows Explorer integration.
        </p>

        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=273732">Download &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <h2>Visual Studio</h2>
        <p>
            Visual Studio 2013 and 2015 provide built-in support for Git repositories in
            text editors, Solution Explorer and Team Explorer.
        </p>
        <p><a class="btn btn-default" href="https://www.visualstudio.com/en-us/features/version-control-vs.aspx">Download &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <h2>GitHub Desktop</h2>
        <p>
            The GitHub for Windows client provides management functionality for repositories
            hosted in GitHub and GitHub Enterprise.
        </p>

        <p><a class="btn btn-default" href="https://desktop.github.com/">Download &raquo;</a></p>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Posh Git</h2>
        <p>
            A PowerShell module that provides helpful Git integration like interactive prompts,
            tab completion and SSH assistance.
        </p>

        <p><a class="btn btn-default" href="http://dahlbyk.github.io/posh-git/">Download &raquo;</a></p>
    </div>
</div>

<div class="row">
    <div class="sectionheader">
        <h2>Documentation</h2>
    </div>

    <div class="col-md-4">
        <h2>Git User Manual</h2>
        <p>
            An introduction to the Git version control system for people with a
            background with Unix command-line tools.
        </p>

        <p><a class="btn btn-default" href="http://git-scm.com/docs/user-manual.html">Read more &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <h2>Git Reference Manual</h2>
        <p>
            The official reference manual for the Git command-line interface, providing details
            on each option to each Git command.
        </p>
        <p><a class="btn btn-default" href="http://git-scm.com/docs">Read more &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <h2>Git Flow</h2>
        <p>
            A simple and effective branching strategy that effectively manages feature branches and
            how changes flow into release branches.
        </p>
        <p><a class="btn btn-default" href="http://nvie.com/posts/a-successful-git-branching-model/">Read more &raquo;</a></p>
    </div>
</div>

<!-- /ko -->
