<!-- ko with: home -->
<div class="jumbotron">
    <h1>Git Resources</h1>
    <p class="lead">
        Git is a powerful distributed version control system that provides
        fast, lightweight source control management including offline
        editing support, lightweight branching and merging and amazing
        support for distributed teams.
    </p>
    <p><a href="http://git-scm.com/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            The Git documentation provides a wealth of knowledge about the fundamentals of Git
            repositories as well as the manual for the Git command-line interface.
        </p>
        <p><a class="btn btn-default" href="http://git-scm.com/">Browse the Documentation &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <h2>Git for Windows</h2>
        <p>
            The Git for Windows project provides the Git command-line interface,
            a simple GUI and optional Windows Explorer integration.
        </p>
       
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=273732">Install Git for Windows &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <h2>Git in Visual Studio</h2>
        <p>
            Visual Studio provides Git repository management directly in the IDE and
            Visual Studio Online hosts repositories in the cloud.
        </p>
        <p><a class="btn btn-default" href="https://www.visualstudio.com/en-us/features/version-control-vs.aspx">Learn more &raquo;</a></p>
    </div>
</div>

<!-- /ko -->
