<!-- ko with: home -->
<div class="title">
    <h1>Git Clients</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Visual Studio</h2>
        <p>
            Visual Studio 2013 and 2015 provide built-in support for Git repositories in
            text editors, Solution Explorer and Team Explorer.
        </p>
        <p><a class="btn btn-default" href="https://www.visualstudio.com/en-us/features/version-control-vs.aspx">Learn More &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <h2>Git for Windows</h2>
        <p>
            A port of the Git command-line interface to Windows, providing
            the complete Git repository management functionality.
        </p>
        <p><a class="btn btn-default" href="https://git-for-windows.github.io/">Learn more &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <h2>GitHub Desktop</h2>
        <p>
            The GitHub for Windows client provides management functionality for repositories
            hosted in GitHub and GitHub Enterprise.
        </p>

        <p><a class="btn btn-default" href="https://desktop.github.com/">Learn More &raquo;</a></p>
    </div>
</div>

<!-- /ko -->
